h1 {
  background-color: #f4cc70;
  color: #794518;
  padding: 10px;
  border-radius: 15px;
  margin: 25px 15px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 75px;
}

#choice-player {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
body {
  background-color: #de7a22;
}
