{% extends 'base.html' %}
{% set active_page = "index" %}
{% block head_css %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" /> {% endblock %}
{% block title %} Rock, Paper, Scissors {% endblock %}
{% block content %}
<div class="container">
    <h1>Rock! Paper! Scissors! Showdown! </h1>
    <div class="flex-container">
        <span class="circle-dot">
            <img src="./static/img/icons8-rock-80.png"></img>
        </span>
        <span class="circle-dot">
            <img src="./static/img/icons8-paper-80.png"></img>
        </span>
        <span class="circle-dot">
            <img src="./static/img/icons8-hand-scissors-80.png"></img>
        </span>
    </div>
    <div class="login-signup">
        <button type="button" class="login-btn"><a href="/auth/login/">Log In</a></button>
        <button type="button" class="register-btn"><a href="/auth/register/">Register</a></button>
        <button type="button" class="play-anon-btn"><a href="/play">Play Anonymously</a></button>
    </div>
</div>
{% endblock %}
