{% extends 'base.html' %}
{% set active_page = "play" %}
{% block title %} Play {% endblock %}
{% block content %}

<div class="container">

    <!-- status bars -->
    <h1 id="game-stats">Wins: 0, Losses: 0, Draws: 0</h1>
    <h1 id="game-status">Choose Game Type</h1>

    <!-- avatars -->
    <div class="flex-container">
        <div class="card bg-transparent" style="width: 18rem;">
            <img id="choice-player" src="./static/img/female.png" class="card-img-top" alt="player">
            <div class="card-body">
                <h5 id="player-name" class="card-title">You</h5>
            </div>
        </div>

        <p style="margin-top: 150px; font-size:40px">VS</p>

        <div class="card bg-transparent" style="width: 18rem;">
            <img id="choice-opponent" src="./static/img/male.png" class="card-img-top" alt="player">
            <div class="card-body">
                <h5 id="opponent-name" class="card-title">Opponent</h5>
            </div>
        </div>
    </div>


    <!-- buttons -->
    <div class="flex-container">
        <span class="circle-dot" id="btn-rock">
            <img src="./static/img/icons8-rock-80.png"></img>
        </span>
        <span class="circle-dot" id="btn-paper">
            <img src="./static/img/icons8-paper-80.png"></img>
        </span>
        <span class="circle-dot" id="btn-scissors">
            <img src="./static/img/icons8-hand-scissors-80.png"></img>
        </span>
    </div>
    <div class="my-2">
        <button type="button" class="btn btn-warning" id="btn-play-cpu">Play against CPU</button>
        <button type="button" class="btn btn-warning" id="btn-queue">Play against Human</button>
        <button type="button" class="btn btn-warning" id="btn-play-again" disabled>Play Again?</button>
    </div>
</div>

<section class="p-5 d-flex justify-content-center">
    <div style="margin-top: 700px">
        <h3>Socket Status:</h3>
        <div id="socket-status"></div>


        <h3>General Chatroom:</h3>
        <div>
            <ul id="general-chat-messages"></ul>
            <input type="text" id="input-general-chat" />
            <button id="btn-send-general-chat">Send</button>
        </div>

        <h3>Current Room:</h3>
        <div id="current-room"></div>

        <h3>Room Chatroom:</h3>
        <div>
            <ul id="room-chat-messages"></ul>
            <input type="text" id="input-room-chat" />
            <button id="btn-send-room-chat">Send</button>
            <button id="btn-leave-room">LEAVE ROOM</button>
        </div>
    </div>
</section>
<script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
<script src="./static/js/play.js"></script>
{% endblock %}
