{% extends 'base.html' %}
{% set active_page = "register" %}
{% block head_css %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}"/>{% endblock %}
{% block title %} Register {% endblock %}
{% block content %}
<body> 
    <h2>Create an Account</h2>
    <form id="register-form" method="POST">
        <div id="username">
            <label class="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div id="password">
            <label class="passW">Password</label>
            <input type="password" name="password" required>
            <br><br>
        </div>
        <input id="registerSubmit" type="submit" value="Register"><br>
        Have an Account? 
        <a href="/auth/login/">
            Sign in Here!
        </a>
    </form>
</body>
{% endblock %}
