{% extends 'base.html' %}
{% set active_page = "register" %}
{% block title %} Register {% endblock %}
{% block content %}
<form id="register-form" method="POST">
    <div id="username" style="margin: 30px 15px;">
        <label class="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div id="password">
        <label class="passW">Password</label>
        <input type="password" name="password" required>
        <br><br>
    </div>
    <input type="submit" value="Register" style="margin-bottom: 15px;"><br>
    Have an Account? 
    <a href="/auth/login/">
        Sign in Here!
    </a>
</form>
{% endblock %}